@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');



body{
    background-color: hsl(0 0% 0%);
    color:hsl(0 0% 95%) ;
    font-family: 'Montserrat', sans-serif;
}


.filtres{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;    
}

.filter{
    padding: .5rem;
    border : 1px solid  hsl(59, 90%, 60%);
    color:hsl(0 0% 95%);
    text-decoration: none;
}

.filter:hover{
    border : 1px solid  hsl(59, 90%, 60%);
    background-color:hsl(59, 90%, 60%) ;
    color:hsl(0 0% 0%);
    text-decoration: none;
}


.animauxContainer{
    border : 1px solid hsl(0 0% 30%);   
    border-radius: 8px;
    padding: 3rem;
}