@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');



body{
    background-color: hsl(0 0% 0%);
    color:hsl(0 0% 95%) ;
    font-family: 'Montserrat', sans-serif;
}

.animauxContainer{
    border : 1px solid hsl(0 0% 30%);   
    border-radius: 8px;
    padding: 3rem;
}