body{
    background-color: #e3d0bc;
}

.formulaire{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 8px;
    max-width: 60%;
    margin: 0 auto;
    padding: 2rem;
    /* #TODO : Créer des boutons interactifs et attrayants (utilisez des couleurs, des ombres, etc.). */
}